<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Spending Summary</title>
</head>
<body>
    <h1>Summary of Spending</h1>
    <table id="summaryTable">
        <thead>
            <tr>
                <th>Category</th>
                <th>Total Spending (£)</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>Entertainment</td>
            <td>{{EntertainmentTotal}}</td>
        </tr>
        <tr>
            <td>Clothing</td>
            <td>{{ClothingTotal}}</td>
        </tr>
        <tr>
            <td>Gifts</td>
            <td>{{GiftsTotal}}</td>
        </tr>
        <tr>
            <td>Coffee</td>
            <td>{{CoffeeTotal}}</td>
        </tr>
        <tr>
            <td>Online Retailer</td>
            <td>{{OnlineRetailerTotal}}</td>
        </tr>
        <tr>
            <td>Other</td>
            <td>{{OtherTotal}}</td>
        </tr>
        <tr>
            <td>Furniture</td>
            <td>{{FurnitureTotal}}</td>
        </tr>
        <tr>
            <td>Health & Beauty</td>
            <td>{{HealthBeautyTotal}}</td>
        </tr>
        <tr>
            <td>Opticians</td>
            <td>{{OpticiansTotal}}</td>
        </tr>
        <tr>
            <td>Groceries</td>
            <td>{{GroceriesTotal}}</td>
        </tr>
        <tr>
            <td>Eating Out</td>
            <td>{{EatingOutTotal}}</td>
        </tr>
        <tr>
            <td>Jewlery</td>
            <td>{{JewleryTotal}}</td>
        </tr>
        <tr>
            <td>Utilities</td>
            <td>{{UtilitiesTotal}}</td>
        </tr>
        <tr>
            <td>Department Store</td>
            <td>{{DepartmentStoreTotal}}</td>
        </tr>
        <tr>
            <td>Books</td>
            <td>{{BooksTotal}}</td>
        </tr>
        </tbody>
    </table>
</body>
</html>
