<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Overview Page</title>
    </head>
    <body>
        <h1>Transaction Breakdown</h1>
        <div>
            <h2>Transaction ID: {{ID}}</h2>
            <h2>Transaction Type: {{transaction_type}}</h2>
            <h2>Balance Before: {{balance_before}}</h2>
            <h2>Balance After: {{balance_after}}</h2>
            <h2>Transaction amount: {{transaction_amount}}</h2>
        </div>
        <div>
            
        </div>
    </body>
</html>